<div class="main container container--lrg container--light">
    <div class="profile__header">
        <div ng-show="error" class="validation validation--alert">
            Please enter your profile info
        </div>
        <form novalidate name="editProfile" ng-submit="saveProfile(profile)" class="profile__edit__form">
            <div class="row">
                <div class="col col-sml-12 col-med-4 col-lrg-3 col-xlrg-2 spc--bottom--sml">
                    <div class="position--rel profile__edit__picture">
                        <img ng-if="!imageSrc && !hasImageSelected" ng-src="{{profile.avatar.links('stream-token').href}}" alt="{{profile.displayName}}" title="{{profile.displayName}}">
                        <img ng-if="imageSrc && !hasImageSelected || !profile" ng-src="/assets/img/img.png" alt="{{profile.displayName}}" title="{{profile.displayName}}">
                        <img ng-if="hasImageSelected" ng-src="{{selectedImage}}" alt="{{profile.displayName}}" title="{{profile.displayName}}">
                        <label for="profileAvatar" class="type--wide type--center type--color--negative label label--files label--files--primary">
                            <i class="icon icon--sml icon--photo"></i>
                            <span ng-if="!profile.avatar">Add Avatar</span>
                            <span ng-if="profile.avatar">Change Avatar</span>
                        </label>
                    </div>
                    <input type="file" name="profileAvatar" id="profileAvatar" file-model="profile.avatar.blob" ng-model="profile.avatar.change" accept="image/png, image/jpeg, image/jpg" file-types=".png,.jpeg,.jpg" class="input input--file" ng-change="previewSelectedImage()">
                    <p class="spc--top--sml validation validation--alert" ng-show="editProfile.profileAvatar.$dirty && ((editProfile.profileAvatar.$invalid && !profile)||invalidFileType)">Allowed extensions are: png, jpeg, jpg</p>
                    <p class="spc--top--sml validation validation--alert" ng-show="editProfile.$submitted && editProfile.profileAvatar.$error.required">Profile avatar is required</p>
                </div>
                <div class="col col-sml-12 col-med-8 col-lrg-9 col-xlrg-10">
                    <label for="displayName" class="label label--primary">Artist / Band Name</label>
                    <input name="displayName" id="displayName" ng-model="profile.displayName" type="text" placeholder="Artist/Band Name" class="input input--text" required>
                    <p class="validation validation--alert" ng-show="editProfile.$submitted && editProfile.displayName.$error.required">Name is Required</p>
                    <div class="row">
                        <div class="col col-lrg-6">
                            <label for="genre" class="label label--primary">Genre</label>
                            <input name="genre" id="genre" ng-model="profile.genre" type="text" placeholder="Enter Music Genre" class="input input--text display--ib" required>
                            <p class="validation validation--alert" ng-show="editProfile.$submitted && editProfile.genre.$error.required">Genre is Required</p>
                        </div>
                        <div class="col col-lrg-6">
                            <label for="country" class="label label--primary">Country</label>
                            <input name="country" id="country" ng-model="profile.country" type="text" placeholder="Enter Country" class="input input--text display--ib" required>
                            <p class="validation validation--alert" ng-show="editProfile.$submitted && editProfile.country.$error.required">Country is Required</p>
                        </div>
                    </div>
                    <label for="about" class="label label--primary">About Artist / Band</label>
                    <textarea name="about" id="about" rows="5" type="text" ng-model="profile.aboutArtist" class="input input--text" placeholder="Short Artist/Band biography"></textarea>
                    <div class="profile__social spc--bottom--med">
                        <div class="row">
                            <div class="col col-lrg-6">
                                <label class="label label--primary" for="bandcamp" title="Enter bandcamp link">
                                    Bandcamp
                                </label>
                                <input type="text" id="bandcamp" name="bandcamp" ng-model="profile.bandcamp" placeholder="Bandcamp" class="input input--text ">
                            </div>
                            <div class="col col-lrg-6">
                                <label class="label label--primary" for="myspace" title="Enter myspace link">
                                    MySpace
                                </label>
                                <input type="text" id="myspace" name="myspace" ng-model="profile.myspace" placeholder="Myspace" class="input input--text ">
                            </div>
                            <div class="col col-lrg-6">
                                <label class="label label--primary" for="lastfm" title="Enter lastfm link">
                                    LastFM
                                </label>
                                <input type="text" id="lastfm" name="lastfm" ng-model="profile.lastfm" placeholder="Lastfm" class="input input--text ">
                            </div>
                            <div class="col col-lrg-6">
                                <label class="label label--primary" for="soundcloud" title="Enter soundcloud link">
                                    Soundcloud
                                </label>
                                <input type="text" id="soundcloud" name="soundcloud" ng-model="profile.soundcloud" placeholder="Soundcloud" class="input input--text ">
                            </div>
                            <div class="col col-lrg-6">
                                <label class="label label--primary" for="web" title="Enter official web link">
                                    Official Website
                                </label>
                                <input type="text" id="web" name="web" ng-model="profile.web" placeholder="Official web" class="input input--text ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$root.user.isAuthenticated" class="push">
                <button class="btn btn--primary btn--med spc--bottom--sml" type="submit">Save</button>
                <a class="btn btn--primary btn--med spc--bottom--sml" ui-sref="master.main.album-add({artistId : $root.user.id})" ng-if="profile.id.length">Add album</a>
                <a class="btn btn--tertiary btn--med spc--bottom--sml" href="javascript:void(0);" ng-click="cancelEdit();">Cancel</a>
            </div>
        </form>
    </div>
    <album-list artist-id="profile.id" profile-name="profile.displayName"></album-list>
</div>
