/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
html {
    @mixin typomatic-init;
    overflow-y: scroll;
}

body {
    font-family: $ff-serif;
    background: $gray5;
    overflow-x: hidden;
    color: $color-text;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}
