/*------------------------------------*\
    # components.profile
\*------------------------------------*/

.profile {
    &__list {
        padding: 20px;
        @media (--screen-from-sml) {
            padding: 20px 0;
        }
        &__item {
            padding: 0.5rem 0.5rem 1.5rem 0.5rem;
        }
    }
    &__avatar {
        display: inline-block;
        float: left;
        width: 150px;
        height: 150px;
        margin: 0 1.5rem 2rem 0;
    }
    &__artist {
        &__link {
            display: block;
            color: $color-primary;
            font-family: $ff-sans;
            @mixin type-scale $type-medium, 1.25;
            text-decoration: none;
            transition: all .3s ease-in-out;

            &:hover {
                color: $color-secondary;
                opacity: 0.75;
            }
        }
    }
    &__title {
        text-transform:  uppercase;
        letter-spacing: 2px;
        @mixin type-scale $type-xlarge, 2;

        &--main {
            font-family: $ff-sans;
            @mixin type-scale $type-xxxlarge, 2;
        }
        &--subtitle {
            display: block;
            font-family: $ff-serif;
            @mixin type-scale $type-medium, 1.5;
        }
    }
    &__about {
        margin: 3rem 0.5rem;
        @media (--screen-from-med) {
            margin: 3rem 0;
        }
        &__text {
            margin-bottom: 2rem;
            @mixin type-scale $type-base, 1;
        }

    }
    &__header {
        background: center no-repeat;
        background-size: cover;
        &__overlay {
            position: absolute;
            background: rgba(0,0,0,0.7);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    &__social {
        display: block;
        &__link {
            display: inline-block;
            float:  left;
            margin: 0 .7rem 0 0;
            transition: all .3s ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }
        &__edit {
            display: inline-block;
            margin: 1rem 1.5rem 1rem 0;
        }
    }
    &__edit {
        display: inline-block;
        vertical-align: bottom;
        margin: 1rem;
        float: right;
    }
}