/*------------------------------------*\
    # components.header
\*------------------------------------*/

.header {
    position: fixed;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: calc($unit*2) calc($unit*4);
    border-top: $unit solid $bg-header;


    &__buttons {
        float: right;
    }
}
