/*------------------------------------*\
    # components.menu
\*------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    right: -300px;
    background: linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
    transition: all 250ms ease-in-out;
    transition: all 500ms ease-in-out;

    &__icon {
        position: absolute;
        width: 30px;
        top:30px;
        left: -50px;
        &__line {
            background-color: $color-tertiary;
            height: 2px;
            margin-top: 8px;
            display: block;
            transition: all 250ms ease-in-out;
            &:nth-of-type(1) {
                margin-top: 0;
                transform: rotate(45deg);
            }
        }
    }
    &.opened {
        transform: translateX(-300px);

        .menu__icon {

            &__line {

            }
        }
    }

}


/*TODO: write your own hamburger from example below */

.hamburger {
    display: inline-block;
    padding: calc($unit * 3);
    cursor: pointer;
    transition: all 250ms ease-in-out;
    &:hover {
        opacity: 0.5;
    }
    &-inner {
        top: $unit;
        left: 0;
    }
}

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: calc($unit * 6);
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

    /*
   * Elastic
   */
    .hamburger--elastic .hamburger-inner {
      top: 6px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      .hamburger--elastic .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease; }
      .hamburger--elastic .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

    .hamburger--elastic.is-active .hamburger-inner {
      transform: translate3d(0, 10px, 0) rotate(135deg);
      transition-delay: 0.075s; }
      .hamburger--elastic.is-active .hamburger-inner::before {
        transition-delay: 0s;
        opacity: 0; }
      .hamburger--elastic.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-270deg);
        transition-delay: 0.075s; }
