/*------------------------------------*\
    # components.profile
\*------------------------------------*/

.profile {
    &__list {
        padding: calc($unit*5);
        &__item {
            padding: $unit;
        }
    }
    &__header {
        background: url(/assets/img/default-cover.jpg) center top no-repeat;
        background-size: cover;
        padding-top: calc($unit*13);
    }
    &__title {
        text-transform: uppercase;
    }
    &__subtitle, &__description {
        margin-bottom: calc($unit*2);
    }
    &__content {
        padding: calc($unit*4);
        &:after {
            content: '';
            clear: both;
            display:table;
        }
    }
    &__avatar {
        max-width: 200px;
        width: 100%;
        float: right;
    }
    &__info {
        display: inline-block;
        vertical-align: top;
        max-width: calc(100% - 220px);
    }
    &__social {
        display: block;
        &__link {
            display: inline-block;
            width: 32px;
            height: auto;
            transition: all .3s ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__edit-buttons {
        margin: calc($unit*4) 0 calc($unit*2) 0;
    }
}
