/*------------------------------------*\
    # modules.loader
\*------------------------------------*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 2;
    transition: all .3s ease-in-out;
    &__content {
        height: 50px;
        left: calc(50% - 40px);
        margin: -30px 0 0 -20px;
        position: absolute;
        top: 25%;
        width: 123px;
    }
    &__spinner {
        background: white;
        bottom: 1px;
        height: 3px;
        position: absolute;
        width: 8px;
        animation: sound 0ms -800ms linear infinite alternate;

        &:nth-child(1)  { left: 3px; animation-duration: 474ms; }
        &:nth-child(2)  { left: 15px; animation-duration: 433ms; }
        &:nth-child(3)  { left: 27px; animation-duration: 407ms; }
        &:nth-child(4)  { left: 39px; animation-duration: 458ms; }
        &:nth-child(5)  { left: 51px; animation-duration: 400ms; }
        &:nth-child(6)  { left: 63px; animation-duration: 427ms; }
        &:nth-child(7)  { left: 75px; animation-duration: 441ms; }
        &:nth-child(8)  { left: 87px; animation-duration: 419ms; }
        &:nth-child(9)  { left: 99px; animation-duration: 487ms; }
        &:nth-child(10) { left: 111px; animation-duration: 442ms; }
    }
    &__message {
        margin-top: 3rem;
        font-size: 20px;
        color: white;
    }
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 48px;
    }
}
