/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    &__search {
        display: inline-block;
        padding: 1rem;
        margin: 1rem 0 1rem .5rem;
        min-width: 350px;
        width: calc(100% - 700px);
        color: white;
        background: none;
        border: 1px solid white;

        &:focus {
            outline: 0;
        }
    }
}