/*------------------------------------*\
    # modules.logo
\*------------------------------------*/

.logo {
    &--header {
        display: inline-block;
        float: left;
        height: 3.5rem;
        margin: 1rem;
        &:hover {
            opacity: .75;
        }
    }
}