/*------------------------------------*\
    # modules.hero
\*------------------------------------*/

.hero {
    width: 100%;
    &__content {
        padding: calc($unit*15);
        text-align: center;
        color: white;
        background-size: cover;
    }
    &--cta {
        background: url(./assets/img/hero.jpg) no-repeat center;
            min-height: 350px;
    }
    &--register {
        background: url(./assets/img/hero.jpg) no-repeat center;
    }
    &--activation {
        background: url(./assets/img/hero.jpg) no-repeat center;
    }
    &--login {
        background: url(./assets/img/hero.jpg) no-repeat center;
    }
    &--search {
        background: url(./assets/img/hero.jpg) no-repeat center;
    }
    &--password {
        background: url(./assets/img/hero.jpg) no-repeat center;
    }

}
