/*------------------------------------*\
    # modules.container
\*------------------------------------*/

 .container {
 	margin: 0 auto;
    &--membership {
        padding: 0 calc($unit*3);
    }
    &--big {
        max-width: 1600px;
    }
    &--light {
        background: white;
    }
 }
