/*------------------------------------*\
    # modules.form
\*------------------------------------*/

.form {
    &--search {
        position: relative;
        display: inline-block;

        width: 100%;
        margin-top: 1rem;

        @media (--screen-from-lrg) {
            margin: 1rem 2rem 1rem 2.75rem;
            width: calc(100% - 550px);
        }
    }
}