/*------------------------------------*\
    # modules.label
\*------------------------------------*/

.label {
    display: block;
    font-family: $ff-sans;
    font-weight: $type-weight-bold;
    transition: all 300ms ease-in-out;
    letter-spacing: 1px;

    &--files {
        position: absolute;
        width: 100%;
        left: 0;

        padding: 6px;
        background-color: $gray1;
        @mixin type-scale $type-base, 1.25;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
        &--sml {
             max-width: 150px;
             bottom: 2rem;
        }
        &--med {
            max-width: 250px;
        }
        &--primary {
            bottom: 0;
        }
        &--secondary {
            top: 0;
            @mixin type-scale $type-base, 1.35;
            opacity: 1;
            &:hover {
                background-color: black;
            }
        }
    }
    &--primary {
        @mixin type-scale $type-medium, 1.25;
    }
}
