/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    width: 100%;
    margin-bottom: calc($unit*4);
    padding: calc($unit*2);
    border: 2px solid transparent;
    transition: all 250ms ease-in-out;

    &--file {
        display: none;
    }
    &--text {
        @mixin type-scale $type-medium, 1.25;

        &:focus, &:hover {
            outline: 0;
            border-color: $color-primary;
            color:  black;
        }
    }
}
