/*------------------------------------*\
    # modules.logo
\*------------------------------------*/

.logo {
    margin: 0;
    color: black;
    opacity: .5;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
        opacity: 1;
    }
    &--big {
        @mixin type-scale $type-xxlarge, 1.75;
    }
    &--small {
        @mixin type-scale $type-medium, 1.25;

    }
}
