/*------------------------------------*\
    # modules.btn
\*------------------------------------*/

.btn {

    /**
     * Button base
     */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    font-family: $ff-sans;
    text-decoration: none;
    text-align: center;
    border: 0;

    &:focus {
        outline: 0;
    }

    /**
     * Button base project styling
     */
    font-family: $ff-sans;
    font-weight: $type-weight-bold;
    text-transform: uppercase;
    letter-spacing: .2em;

    /**
     * Button styles
     */
    &--primary {
        background: $color-primary;
        color: white;
        &:hover {
            background: color($color-primary whiteness(+10%));
        }
    }
    &--secondary {
        background: $color-secondary;
        color: white;
        &:hover {
            background: color($color-secondary whiteness(+10%));
        }
    }
    &--ghost {
        background-color: transparent;
        color: $color-primary;
        &:hover {
            color: color($color-primary whiteness(+10%));
        }
    }
    &--search {
        background: none;
        color: white;
        border: 1px solid white;
        border-left: 0;
        padding: 11px 10px 12px 16px;
        margin: -5px 0 0 -5px;
        @mixin type-scale $type-xxlarge, 0;
        transition: all .3s ease-in-out;
        &:hover{
            background-color: white;
            color: $bg-header;
        }
    }

    /**
     * Button sizes
     */
    &--sml {
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        padding: 0 calc($unit * 2);
    }
    &--med {
        height: calc($unit * 6);
        line-height: calc($unit * 6);
        padding: 0 calc($unit * 3);
    }
    &--lrg {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        padding: 0 calc($unit * 4);
    }

}