/*------------------------------------*\
    # modules.validation
\*------------------------------------*/

.validation {
    display: inline-block;
    margin: $unit 0 calc($unit*2) 0;
    padding: $unit calc($unit*2);

    border-width: 1px;
    border-style: solid;

    &--success {
        color: $color-success;
        background-color: color($color-success a(15%));
    }
    &--alert {
        color: $color-alert;
        background-color: color($color-alert a(15%));
    }
    &--error {
        color: $color-warning;
        background-color: color($color-warning a(15%));
    }
}
