/*------------------------------------*\
    # modules.container
\*------------------------------------*/

 .container {
 	margin: 0 auto;
    max-width: 1280px;
    overflow-x: hidden;

    &--profile__detail {
        margin-top: -90px;
        padding: 0 1rem;
    }
 }