/*------------------------------------*\
    # util.icon
\*------------------------------------*/

.icon {
    display: inline-block;
	opacity: 0.5;

    background-repeat: no-repeat;
    background-position: center center;

    transition: all 250ms ease-in-out;
    vertical-align: middle;

    &:hover {
		opacity: 1;
    }

    &--sml {
	    width: calc($unit * 5);
	    height: calc($unit * 5);
	    background-size: calc($unit * 3);
	}

    &--med {
	    width: calc($unit * 7);
	    height: calc($unit * 7);
	    background-size: calc($unit * 4);
	}

	&--lrg {
	    width: calc($unit * 10);
	    height: calc($unit * 10);
	    background-size: calc($unit * 6);
    }

    &--login {
        background-image: svg-load(../../assets/icons/login.svg, fill: $color-text);
    }
    &--logout {
        background-image: svg-load(../../assets/icons/logout.svg, fill: $color-text);
    }
    &--signup {
        background-image: svg-load(../../assets/icons/signup.svg, fill: $color-text);
    }
    &--profile {
        background-image: svg-load(../../assets/icons/profile.svg, fill: $color-text);
    }
    &--success {
        background-image: svg-load(../../assets/icons/success.svg, fill: $color-text);
    }
    &--camera {
        background-image: svg-load(../../assets/icons/photo.svg, fill: white);
        opacity: 1;
    }
    &--photo {
        background-image: svg-load(../../assets/icons/photo.svg, fill: white);
        opacity: 1;
    }
    &--add {
        background-image: svg-load(../../assets/icons/add.svg, fill: $color-text);
    }
    &--edit {
        background-image: svg-load(../../assets/icons/edit.svg, fill: $color-text);
    }
    &--remove {
        background-image: svg-load(../../assets/icons/remove.svg, fill: $color-text);
    }
    &--upload {
        background-image: svg-load(../../assets/icons/upload.svg, fill: $color-text);
    }
    &--save {
        background-image: svg-load(../../assets/icons/save.svg, fill: $color-text);
    }
    &--search {
        background-image: svg-load(../../assets/icons/search.svg, fill: $color-text);
    }
    &--settings {
        background-image: svg-load(../../assets/icons/settings.svg, fill: $color-text);
    }
    &--menu {
        background-image: svg-load(../../assets/icons/menu.svg, fill: $color-text);
    }
    &--next {
        background-image: svg-load(../../assets/icons/next.svg, fill: $color-text);
    }
    &--pause {
        background-image: svg-load(../../assets/icons/pause.svg, fill: $color-text);
    }
    &--play {
        background-image: svg-load(../../assets/icons/play.svg, fill: $color-text);
    }
    &--prev {
        background-image: svg-load(../../assets/icons/prev.svg, fill: $color-text);
    }
    &--repeat {
        background-image: svg-load(../../assets/icons/repeat.svg, fill: $color-text);
    }
    &--shuffle {
        background-image: svg-load(../../assets/icons/shuffle.svg, fill: $color-text);
    }

    /*social icons*/
    &--bandcamp {
        background-image: svg-load(../../assets/icons/shuffle.svg, fill: $color-text);
    }
    &--myspace {
        background-image: svg-load(../../assets/icons/shuffle.svg, fill: $color-text);
    }
    &--lastfm {
        background-image: svg-load(../../assets/icons/shuffle.svg, fill: $color-text);
    }
    &--soundcloud {
        background-image: svg-load(../../assets/icons/soundcloud.svg, fill: $color-text);
    }
    &--web {
        background-image: svg-load(../../assets/icons/web.svg, fill: $color-text);
    }
}
