/*------------------------------------*\
    # utils.position
\*------------------------------------*/

.position {
    &--abs {
        position: absolute;
    }
    &--rel {
        position: relative;
    }
    &--fix {
        position: fixed;
    }
}
