/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

/**
 * Generic colors
 * Color naming taken from: http://www.color-blindness.com/color-name-hue/
 */

$yellowred: #eeaa7b;
$viridian: #07889b;
$moonstone: #66b9bf;
$tangelo: #e37222;

/**
 * Global text color
 */
$color-text:        #333;

/**
 * Theme colors
 */
$color-primary:     $yellowred;
$color-secondary: 	$moonstone;
$color-tertiary:    $tangelo;
$color-quartenary:  $viridian;


/**
 * Background-colors
 */
$bg-header:         $tangelo;

/**
 * Utility colors
 */
$color-warning:     #F44336;
$color-success:     #4CAF50;
$color-note:        #FFEB3B;