/*------------------------------------*\
    # components.profile
\*------------------------------------*/

.profile {
    /*profile list styling*/
    &__list {
        padding: calc($unit * 4);

        &__link {
            position: relative;
            display: inline-block;
            color: $gray-light;
            text-decoration: none;
            opacity: 0.7;
            transition: all 250ms ease-in-out;

            & img {
                border-radius: $global-radial;
            }

            &:before {
                content: "";
                transition: all 250ms ease-in-out;
            }

            &:after {
                content: "";
                transform: scale(1);
                transition: all 250ms ease-in-out;
            }

            &:hover, &:focus, &:active {
                outline: 0;
                opacity: 1;
                color: $color-text;
                
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: color($color-primary a(0.5));
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 40%;
                    left: 35%;
                    
                    width: calc($unit * 10);
                    height: calc($unit * 10);

                    background-image: svg-load(../../assets/icons/album-list.svg, fill: white);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: calc($unit * 10);
                    transform: scale(1.2);
                }
            }
        }
    }
    /*profile detail styling*/
    &__edit {
        &__form {
            overflow: hidden;
        }
        &__picture {
            min-height: calc($unit*8);
        }
    }

    &__title {
        @mixin type-scale $type-large, 1.5;
    }
    
    &__subtitle {
        @mixin type-scale $type-base, 1;
        margin-bottom: calc($unit * 4);
    }
        
    &__description {
        margin-bottom: calc($unit * 2);
        @mixin type-scale $type-base, 1;
        color: color($color-text lightness(+10%));
    }
}
