/*------------------------------------*\
    # components.profile
\*------------------------------------*/

.profile {
    /*profile list styling*/
    &__list {
        padding: calc($unit*4);
        &__link {
            color: $gray-light;
            text-decoration: none;
            opacity: 0.7;
            transition: all 250ms ease-in-out;

            &:hover, &:focus, &:active {
                outline: 0;
                opacity: 1;
                color: $color-text;
            }
        }
    }
    /*profile detail styling*/
    &__header {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: calc($unit*4);
        overflow: hidden;
    }
    &__edit {
        &__form {
            overflow: hidden;
        }
        &__picture {
            min-height: calc($unit*8);
        }
    }
}
