/*------------------------------------*\
# components.songs
\*------------------------------------*/

.songs {
    &__wrapper {
        padding: calc($unit * 4);
    }
    &__label-wrapper {
        position: relative;
        height: calc($unit * 8);
        margin-bottom: calc($unit * 2);
    }
    &__playlist {
        list-style: none;
        display: inline-block;
        padding: 0;
    }
}
