/*------------------------------------*\
    # components.scrollbar
\*------------------------------------*/

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $gray-lighter;
}

html::-webkit-scrollbar
{
	width: 8px;
	background-color: $gray-lighter;
}

html::-webkit-scrollbar-thumb
{
	background-color: $color-primary;
    border: 2px solid $gray-lighter;
    border-radius: $global-radial;
}
