/*------------------------------------*\
    # components.search
\*------------------------------------*/

.search {
    margin-top: -68px;
    transition: all 250ms ease-in-out;
    &.active {
        margin-top: 0px;
    }
    &--404 {
        max-width: 600px;
        margin: 0 auto; 
    }
}
