/*------------------------------------*\
# components.album
\*------------------------------------*/

.album {
    &__wrapper {
        padding: calc($unit * 4);
    }
    &__name {
        letter-spacing: 0.5px;
        font-family: $ff-sans;
        @mixin type-scale $type-large, 1.5;
        &--primary {
            font-weight: 700;
        }
    }
    &__song-duration {
        display: inline-block;
        padding: calc($unit*3) calc($unit*2);

    }
    &__playlist {
        list-style: none;
        padding: 0;
        &__wrapper {
            padding: calc($unit * 4);
        }
        &__item {
            display: block;
            &:nth-child(odd) {
                background: $gray-lighter;
            }
            &:nth-child(even) {
                background: none;
            }
            &__delete {
                color: $color-tertiary;
                &:hover {
                    color: color($color-tertiary blackness(+20%));
                }
            }
        }
    }
}
