/*------------------------------------*\
    # components.search
\*------------------------------------*/

.search {
    margin-top: -75px;
    transition: all 250ms ease-in-out;
    &.active {
        margin-top: 0px;
    }
    &__form {
        position: relative;
        margin-top: $unit;
        padding: $unit calc($unit*2) 0 calc($unit*2);
    }
}
