/*------------------------------------*\
    # modules.container
\*------------------------------------*/

 .container {
 	margin: 0 auto;
    &--light {
        background: white;
    }
    &--sml {
        max-width: 600px;
    }
    &--lrg {
        max-width: 1600px;
    }
 }
