/*------------------------------------*\
    # modules.input
\*------------------------------------*/

.input {
    width: 100%;
    padding: $unit;
    border-width: 1px;
    border-style: solid;
    border-color: color($color-text a(50%));
    transition: all 250ms ease-in-out;
    &--file {
        display: none;
    }
    &--text, &--search {
        @mixin type-scale $type-medium, 1.25;
        &:focus, &:hover {
            outline: 0;
            border-color: $color-text;
            color:  black;
        }
    }
    &--text {
        margin-bottom: calc($unit*2);
    }
    &--search {
        padding: calc($unit*2);
        margin-top: calc($unit*2);
        &__reset {
            position: absolute;
            top: calc($unit*3);
            right: calc($unit*2);
            transform: translate(-50%);
            @mixin type-scale $type-xxlarge, 1.75;
            font-weight: 700;
            color: $color-tertiary;
            text-decoration: none;
            opacity: 0.5;
            transition: all 250ms ease-in-out;

            &:hover {
                color: $color-tertiary;
                opacity: 1;
            }
        }
    }
}
