/*------------------------------------*\
    # modules.btn
\*------------------------------------*/

.btn {

    /**
     * Button base
     */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    font-family: $ff-sans;
    text-decoration: none;
    text-align: center;
    border: 0;

    &:focus {
        outline: 0;
    }

    /**
     * Button base project styling
     */
    font-family: $ff-sans;
    font-weight: $type-weight-regular;
    text-transform: uppercase;
    letter-spacing: .2em;
    transition: all 250ms ease-in-out;

    /**
     * Button styles
     */
    &--primary {
        background: transparent;
        color: $color-primary;
        border: 2px solid $color-primary;
        &:hover {
            background: $color-primary;
            color: white;
        }
    }
    &--secondary {
        background: transparent;
        color: $color-secondary;
        border: 2px solid $color-secondary;
        &:hover {
            background: $color-secondary;
            color: white;
        }
    }
    &--tertiary {
        background: transparent;
        color: $color-tertiary;
        border: 2px solid $color-tertiary;
        &:hover {
            background: $color-tertiary;
            color: white;
        }
    }
    &--ghost {
        background: transparent;
        color: white;
        border: 2px solid white;
        &:hover {
            background-color: white;
            color: $color-text;
        }
    }

    /**
     * Button sizes
     */

    &--sml {
        height: calc($unit * 4);
        line-height: calc($unit * 4);
        padding: 0 calc($unit * 2);
    }
    &--med {
        height: calc($unit * 6);
        line-height: calc($unit * 6);
        padding: 0 calc($unit * 3);
    }
    &--lrg {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        padding: 0 calc($unit * 4);
    }

    &--wide {
        width: 100%;
    }

    &:disabled {
        opacity: 0.5;
    }

}
