/*------------------------------------*\
    # modules.form
\*------------------------------------*/

.form {
    padding: calc($unit*6) 0;
    &--sml {
        max-width: 600px;
    }
    &--centered {
        margin: 0 auto;
    }
}
