/*------------------------------------*\
    # utils.type
\*------------------------------------*/

.type {
    &--base {
        @mixin type-scale $type-base, 1;
    }
    &--medium {
        @mixin type-scale $type-base, 1;
        @media (--screen-from-med) {
            @mixin type-scale $type-medium, 1.25;
        }
    }
    &--bold {
        font-weight: $type-weight-bold;
    }
    &--capitalize {
        text-transform: capitalize;
    }
    &--color {
        &--negative {
            color: #ffffff;
        }
    }
    &--center {
        text-align: center;
    }
    &--404 {
        font-size: calc($unit * 24);
        line-height: 1.5;
    }
}
