/*------------------------------------*\
    # util.icon
\*------------------------------------*/

.icon {
    display: inline-block;
    margin: $unit;
	opacity: 0.5;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transition: all 250ms ease-in-out;
    vertical-align: middle;

    &:hover {
		opacity: 1;
    }
    &--first {
        margin-left: 0;
    }
    &--last {
        margin-right: 0;
    }
    &--tiny {
        width: calc($unit * 4);
        height: calc($unit * 4);
    }
    &--sml {
	    width: calc($unit * 5);
	    height: calc($unit * 5);
	}
    &--med {
	    width: calc($unit * 7);
	    height: calc($unit * 7);
	}
	&--lrg {
	    width: calc($unit * 8);
	    height: calc($unit * 8);
    }

    &--login {
        background-image: svg-load(../../assets/icons/login.svg, fill: $color-text);
        &:hover {
            background-image: svg-load(../../assets/icons/login.svg, fill: $color-primary);
        }
    }
    &--logout {
        background-image: svg-load(../../assets/icons/logout.svg, fill: $color-text);

        &:hover {
            background-image: svg-load(../../assets/icons/logout.svg, fill: $color-primary);
        }
    }
    &--register {
        background-image: svg-load(../../assets/icons/register.svg, fill: $color-text);

        &:hover {
            background-image: svg-load(../../assets/icons/register.svg, fill: $color-primary);
        }
    }
    &--profile {
        background-image: svg-load(../../assets/icons/profile.svg, fill: $color-text);

        &:hover {
            background-image: svg-load(../../assets/icons/profile.svg, fill: $color-primary);
        }
    }
    &--photo {
        background-image: svg-load(../../assets/icons/photo.svg, fill: white);
        opacity: 1;
    }
    &--delete {
        background-image: svg-load(../../assets/icons/delete.svg, fill: $color-tertiary);
    }
    &--search {
        background-image: svg-load(../../assets/icons/search.svg, fill: $color-text);
        
        &:hover {
            background-image: svg-load(../../assets/icons/search.svg, fill: $color-primary);
        }
    }
    &--play {
        background-image: svg-load(../../assets/icons/play-album.svg, fill: $color-text);

        &:hover {
            background-image: svg-load(../../assets/icons/play-album.svg, fill: $color-primary);
        }
    }

    /*social icons*/
    &__social {
        margin-left: -$unit;
    }
    &--bandcamp {
        background-image: svg-load(../../assets/icons/bandcamp.svg, fill: $color-text);
    }
    &--myspace {
        background-image: svg-load(../../assets/icons/myspace.svg, fill: $color-text);
    }
    &--lastfm {
        background-image: svg-load(../../assets/icons/lastfm.svg, fill: $color-text);
    }
    &--soundcloud {
        background-image: svg-load(../../assets/icons/soundcloud.svg, fill: $color-text);
    }
    &--web {
        background-image: svg-load(../../assets/icons/link.svg, fill: $color-text);
        transform: rotate(-45deg);
        transform-origin: center;

        &:hover {
            background-image: svg-load(../../assets/icons/link.svg, fill: $color-primary);
        }
    }
}
