/*------------------------------------*\
    # util.spacers
\*------------------------------------*/

.padd {
    &--all {
        /* not in use
        &--sml {
            padding: calc($unit * 2);
        }*/
        &--med {
            padding: calc($unit * 4);
        }
        /* not in use
        &--lrg {
            padding: calc($unit * 6);
        }
        &--xlrg {
            padding: calc($unit * 8);
        }*/
    }
}
