/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.display {
    &--ib {
        display: inline-block;
    }
    &--b {
        display: block;
    }
    &--n {
        display: none;
    }
}