/*------------------------------------*\
    # vars.colors
\*------------------------------------*/

/**
 * Generic colors
 * Color naming taken from: http://www.color-blindness.com/color-name-hue/
 */

$tangelo: #e37222;
$shamrock: #2ecc71;
$cinnabar: #de443a;
$allports: #1b5c95;

$gray-darker: #2D2D2D;
$gray-dark: #353535;
$gray-light: #727272;
$gray-lighter: #f2f2f2;

/**
 * Global text color
 */
$color-text:        #333;

/**
 * Theme colors
 */
$color-primary:     $gray-darker;
$color-secondary: 	$allports;
$color-tertiary:    $cinnabar;

/**
 * Utility colors
 */
$color-warning:     $cinnabar;
$color-success:     $shamrock;
$color-alert:       $tangelo;
