<section class="hero">
    <div class="hero__content">
        <h2 class="hero__title">Password Recovery</h2>
        <h4 class="hero__text">Forgot Password? It happens to the best of us.</h4>
    </div>
</section>

<form name="passwordRecoveryForm" novalidate ng-submit="vm.recoverPassword()" class="form form--sml form--centered">
    <label class="label label--primary" for="userName">Username</label>
    <input class="input input--text" type="text" id="userName" name="userName" ng-model="vm.recoveryData.userName" required placeholder="Enter your username" />
    <p class="validation validation--alert" ng-show="(passwordRecoveryForm.$submitted || passwordRecoveryForm.userName.$touched) && passwordRecoveryForm.userName.$error.required">Username is required.</p>

    <div baasic-recaptcha class="recaptcha"></div>
    <p ng-if="vm.message" class="spc--top--sml validation" ng-class="{'validation--alert': vm.messageType === 'alert', 'validation--error': vm.messageType === 'error', 'validation--success': vm.messageType === 'success'}">{{vm.message}}</p>
    <button class="btn btn--secondary btn--lrg btn--wide" type="submit">Send</button>
</form>
