<section class="hero">
    <div class="hero__content">
        <h2 class="hero__title">Account Activation</h2>
        <h4 class="hero__text">Activating Account, please wait!</h4>
    </div>
</section>
<div class="container container--sml type--center spc--top--lrg">
    <p class="validation" ng-class="{'validation--success': vm.messageType==='success', 'validation--alert': vm.messageType==='alert', 'validation--error': vm.messageType==='error' }">
            {{vm.message}}
    </p>
    <a ng-if="vm.messageType === 'success'" ui-sref="master.main.login">Or you can click here to login right now.</a>
</div>
