<section class="hero">
    <div class="hero__content">
        <h2 class="hero__title">Password Change</h2>
        <h4 class="hero__text">Don't like it? Change it!</h4>
    </div>
</section>

<form name="passwordChangeForm" novalidate ng-submit="vm.changePassword()" class="form form--sml form--centered">
    <label class="label label--primary" for="password">Password</label>
    <input class="input input--text" type="password" id="password" name="password" ng-pattern="passwordRegex" ng-model="vm.resetData.newPassword" required placeholder="Password" autocomplete="off" />
    <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
        <p class="validation validation--alert" ng-show="passwordChangeForm.password.$error.required">Password is required.</p>
        <p class="validation validation--alert" ng-show="!passwordChangeForm.password.$valid">Password must contain at least 8 characters and at least 1 non alpha-numeric character.</p>
    </div>
    <label class="label label--primary" for="confirmPassword">Confirm Password</label>
    <input class="input input--text" type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.resetData.confirmPassword" required placeholder="Confirm Password" autocomplete="off" />
    <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched">
        <p class="validation validation--alert" ng-show="passwordChangeForm.confirmPassword.$error.required">Confirm Password is required.</p>
        <p class="validation validation--error" ng-show="passwordChangeForm.confirmPassword.$viewValue != '' && (passwordChangeForm.password.$viewValue != passwordChangeForm.confirmPassword.$viewValue)">Password and Confirm Password do not match.</p>
    </div>
    <p  ng-if="vm.message" class="validation" ng-class="{'validation--alert': vm.messageType === 'alert', 'validation--error': vm.messageType === 'error', 'validation--success': vm.messageType === 'success'}">{{vm.message}}</p>
    <button class="btn btn--secondary btn--lrg btn--wide" type="submit">Change</button>
</form>
