<section class="hero hero--password">
    <div class="hero__content">
        <h2 class="hero__title">Password Change</h2>
        <h4 class="hero__text">Don't like it? Change it!</h4>
    </div>
</section>

<form name="passwordChangeForm" novalidate ng-submit="vm.changePassword()" class="form form--sml form--centered">
    <div class="group">
        <label class="label label--primary" for="password">Password</label>
        <input class="input input--text" type="password" id="password" name="password" ng-model="vm.resetData.newPassword" required placeholder="Password" autocomplete="off" />
        <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.password.$touched">
            <p class="validation validation--alert" ng-show="passwordChangeForm.password.$error.required">Password is required.</p>
        </div>
        <label class="label label--primary" for="confirmPassword">Confirm Password</label>
        <input class="input input--text" type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.resetData.confirmPassword" required placeholder="Confirm Password" autocomplete="off" />
        <div ng-show="passwordChangeForm.$submitted || passwordChangeForm.confirmPassword.$touched">
            <p class="validation validation--alert" ng-show="passwordChangeForm.confirmPassword.$error.required">Confirm Password is required.</p>
            <p class="validation validation--error" ng-show="passwordChangeForm.confirmPassword.$viewValue != '' && (passwordChangeForm.password.$viewValue != passwordChangeForm.confirmPassword.$viewValue)">Password and Confirm Password do not match.</p>
        </div>
    </div>
    <button class="btn btn--secondary btn--lrg btn--wide" type="submit">Change</button>
    <div ng-if="vm.message" class="spc--top--sml">
        <p class="validation validation--error">{{vm.message}}</p>
    </div>
</form>
