<section class="hero hero--password">
    <div class="hero__content">
        <h2 class="hero__title">Password Recovery</h2>
        <h4 class="hero__text">Forgot Password? It happens to the best of us.</h4>
    </div>
</section>
<div class="container container--membership">
    <form name="passwordRecoveryForm" novalidate ng-submit="vm.recoverPassword()">
        <div class="group">
            <div class="form__field--half">
                <label class="form__label" for="userName">Username</label>
                <input class="input input--text" type="text" id="userName" name="userName" ng-model="vm.recoveryData.userName" required placeholder="Enter your username" />
                <div ng-show="passwordRecoveryForm.$submitted || passwordRecoveryForm.userName.$touched">
                    <p class="validation validation--alert" ng-show="passwordRecoveryForm.userName.$error.required">Username is required.</p>
                </div>
            </div>
        </div>
        <div baasic-recaptcha class="recaptcha"></div>
        <div class="form__field spc--top--med">
            <button class="btn btn--secondary btn--med" type="submit">Send</button>
        </div>
        <div ng-if="vm.message">
            <p>{{vm.message}}</p>
        </div>
    </form>
</div>
