<header class="header">
    <div class="container">
        <a ui-sref="master.main.index">
            <img src="img/logo.svg" class="logo--header">
        </a>
        <form name="searchForm" ng-submit="search();" class="form form--search">
            <label for="searchEntry">
                <input type="text" name="searchEntry" class="input__search"/>
            </label>
            <button type="submit" class="btn btn--search">
                <span class="fa fa-search"></span>
            </button>
        </form>
        <div ng-if="$root.user.isAuthenticated" class="header__buttons">
            <a ui-sref="master.main.profile({artistId: $root.user.id})" class="btn btn--med btn--secondary"><span class="fa fa-user"></span> Profile</a>
            <baasic-logout on-logout="setEmptyUser()">
                <button ng-click="logout()" class="btn btn--med btn--primary"><span class="fa fa-sign-in"></span> Sign out</button>
            </baasic-logout>
        </div>
        <div ng-if="!$root.user.isAuthenticated" class="header__buttons">
            <a ui-sref="master.login" class="btn btn--med btn--primary"><span class="fa fa-sign-in"></span> sign in</a>
            <a ui-sref="master.register" class="btn btn--med btn--secondary"><span class="fa fa-plus-circle"></span> sign up</a>
        </div>
    </div>
</header>

<main ui-view class="main">
</main>
