<div loader="loader" class="loader">
    <div class="loader__content">
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <p class="loader__message">SOUNDBOX</p>
    </div>
</div>
<div ui-view></div>

<div class="aplayer-wrapper" ng-class="{'aplayer-wrapper-closed' : !open, '':open}">
    <a href="#" ng-click="open=!open" class="aplayer-toggle">
        <span class="fa" ng-class="{'fa-chevron-circle-up':!open, 'fa-chevron-circle-down':open}"></span>
        <span class="fa fa-music"></span>
    </a>
    <div class="container container--aplayer">
        <div id="aplayer" class="aplayer"></div>
    </div>
</div>


