<div loader="loader" class="loader">
    <div class="loader__content">
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <div class="loader__spinner"></div>
        <p class="loader__message">SOUNDBOX</p>
    </div>
</div>
<div class="container container--big" ui-view></div>
<media-player></media-player>
