<form name="newPhoto" ng-submit="savePhoto()" novalidate>
    <img src="./img/img.png" ng-src="{{profile.avatar}}" class="profile__avatar">
{{file}}
    <label for="profileAvatar" class="type--wide type--center type--color--negative label label--files label--files--sml"><i class="fa fa-camera"></i>
        <span ng-if="!profile.id">Add Avatar</span>
        <span ng-if="profile.id">Change Avatar</span>
    </label>
    <input type="file" id="profileAvatar" file-model="file.blob" ng-model="file.fileName" accept="image/png, image/jpeg, image/jpg" file-types=".png,.jpeg,.jpg" class="input__file">
    <input type="text" ng-model="profile.avatar" ng-value="{{profile.avatar}}">
    <p ng-show="(newPhoto.$submitted || newPhoto.$touched) && newPhoto.$error.fileType">Allowed extensions are: png, jpeg, jpg</p>
    <button type="submit">Change Avatar</button>
    <div ng-show="error">
        {{ error }}
    </div>
</form>