<div class="container profile__list">
    <section class="profile__list__item" ng-repeat="profile in profiles.item" ng-if="profiles.item.length">
        <a ui-sref="master.main.profile({artistId : profile.id})">
            <div class="profile__content">
                <div class="profile__avatar">
                    <img src="assets/img/avatar.jpg" ng-src="{{profile.avatar}}" alt="{{profile.displayName}}">
                </div>
                <div class="profile__data">
                    <div class="profile__firstname">{{profile.firstName}}</div>
                    <div class="profile__lastname">{{profile.lastName}}</div>
                    <!-- div class="profile__country" ng-if="profile.country.length">{{profile.country}}</div>
                    <div class="profile__description" ng-if="profile.aboutMySelf.length">{{profile.aboutArtist}}</div>
                    <div class="profile__since">Member since: {{profile.dateCreated | date: 'mediumDate' }}</div-->
                </div>
            </div>
        </a>
    </section>

    <section class="no-profile" ng-if="!profiles.item.length">
        <p>No artists found!</p>
        <p>
            Be the first one to <a ui-sref="register">register</a> and upload your music!
        </p>
    </section>
    <pager pager-data="profiles.pagerData" ng-show="profiles.pagerData.hasPrevious || profiles.pagerData.hasNext" class="pager">
        <hr>
        <a ui-sref="master.main.index({ page: profiles.pagerData.currentPage - 1})" class="btn --light --med" ng-show="profiles.pagerData.hasPrevious">Prev</a>
        <a ui-sref="master.main.index({ page: profiles.pagerData.currentPage + 1})" class="btn --light --med" ng-show="profiles.pagerData.hasNext">Next</a>
    </pager>
</div>




