<div class="main">
    <div>
        <div class="profile__header" ng-style="profile.cover.length && {'background-image': 'linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url(' + profile.cover + ')'}">
            <div class="container">
                <form novalidate name="editProfile" ng-submit="saveProfile(profile)">
                    <div class="profile__about col-sml-12">
                        <div class="col-sml-12 col-med-4 col-lrg-3 col-xlrg-2">
                            <img ng-if="profile.avatar.length" src="./img/avatar.svg" ng-src="{{profile.avatar}}" class="profile__avatar">
                            <img ng-if="!profile.avatar.length" src="./img/avatar.svg" ng-src="./img/avatar-{{profile.random}}.png" class="profile__avatar">
                        </div>
                        <div>
                            <h1 class="profile__title profile__title--main"><input name="displayName" ng-model="profile.displayName" type="text" placeholder="Artist/Band Name" required></h1>
                            <h3 class="profile__title profile__title--subtitle"><input name="genre" ng-model="profile.genre" type="text" placeholder="Enter Music Genre" required> | <input name="country" ng-model="profile.country" type="text" placeholder="Enter Country" required></h3>
                            <textarea name="about" id="about" rows="5" type="text" ng-model="profile.aboutArtist" class="profile__about__text" placeholder="Short Artist/Band biography"></textarea>
                            <input type="hidden" ng-model="profile.random" />

                            <div class="profile__social">
                            <div class="profile__social__edit">
                                    <img ng-src="img/bandcamp.svg" width="32" class="profile__social__link" />
                                    <input type="text" name="bandcamp" ng-model="profile.bandcamp">
                                </div>
                                <div class="profile__social__edit">
                                    <img ng-src="img/myspace.svg" width="32" class="profile__social__link" />
                                    <input type="text" name="myspace" ng-model="profile.myspace">
                                </div>
                                <div class="profile__social__edit">
                                    <img ng-src="img/lastfm.svg" width="32" class="profile__social__link" />
                                    <input type="text" name="lastfm" ng-model="profile.lastfm">
                                </div>
                                <div class="profile__social__edit">
                                    <img ng-src="img/soundcloud.svg" width="32" class="profile__social__link" />
                                    <input type="text" name="soundcloud" ng-model="profile.soundcloud">
                                </div>
                                <div class="profile__social__edit">
                                    <img ng-src="img/web.svg" width="32" class="profile__social__link" />
                                    <input type="text" name="web" ng-model="profile.web">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$root.user.isAuthenticated" class="profile__edit">
                        <button class="btn btn--primary btn--med" type="submit" ng-if="profile.id == $root.user.id">Save</button>
                        <button class="btn btn--primary btn--med" type="submit" ng-if="!profile.id.length">Add Profile</button>
                        <a class="btn btn--primary btn--med" ui-sref="master.main.album-add({artistId : $root.user.id})" ng-if="profile.id.length">Add album</a>
                        <a class="btn btn--primary btn--med" ui-sref="master.main.profile({artistId : $root.user.id})">Cancel</a>
                    </div>
                    <div ng-show="editProfile.$submitted || editProfile.displayName.$dirty">
                        <span ng-show="editProfile.displayName.$error.required">
                            Artist name field is required.
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <album-list artist-id="profile.id" profile-name="profile.displayName"></album-list>
        </div>
    </div>
</div>