<div>
    <ng-form name="newSong" novalidate ng-submit="save()">
        <div>
            <input type="file" file-model="file.blob" ng-model="file.fileName" accept="audio/mpeg, audio/x-mpeg, audio/mpeg3, audio/x-mpeg3, audio/wav, audio/x-wav" file-types=".mp2, .mp3, .mpa, .mpg, .mpga, .wav">
            <p ng-show="(newSong.$submitted || newSong.$touched) && newSong.$error.fileType">Allowed extensions are: mp2, mp3, mpa, mpg, mpga and wav </p>
        </div>
        <div>
            <div>
                <label for="title">Title</label>
            <input type="text" id="title" name="title" ng-model="model.title" required />
            <p ng-show="(newSong.$submitted || newSong.title.$touched) && newSong.title.$error.required">Title is required.</p>
        </div>
        <hr>
        <div class="form__field">
            <button type="submit">Save</button>
            <button type="button" ng-click="cancel()">Cancel</button>
        </div>
        <div ng-show="error">
            {{ error }}
        </div>
    </ng-form>
</div>