<form name="newSong" novalidate ng-submit="addSong(song)">
    <div>
        <label for="song-title-{{$index}}">Song Title</label>
        <input type="text" id="title" name="title" ng-model="song.title" required />
        <p class="validation validation--alert" ng-show="(newSong.$submitted || newSong.title.$touched) && newSong.title.$error.required">Title is required.</p>
    </div>
    <div>
        <input type="file" file-model="file.blob" ng-model="file.fileName" accept="audio/mpeg, audio/x-mpeg, audio/mpeg3, audio/x-mpeg3" file-types=".mp3, .m4a">
        <p class="validation validation--alert" ng-show="((newSong.$submitted || newSong.$touched) && newSong.$error.fileType) || invalidFileType">Allowed extensions are: .mp3 and .m4a </p>
    </div>
    <input type="hidden" ng-model="song.url">
    <input type="hidden" ng-model="song.pic">
    <hr>
    <div class="form__field">
        <button type="submit">Save</button>
        <button type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div ng-show="error" class="validation validation--error">
        {{ error }}
    </div>
</form>


<div ng-repeat="song in album.playlist">
    <form name="editSong" novalidate ng-submit="editSong(song)">
        <div>
            <label for="song-title-{{$index}}">Song Title</label>
            <input type="text" id="title" name="title" ng-model="song.title" required />
            <p class="validation validation--alert" ng-show="(newSong.$submitted || newSong.title.$touched) && newSong.title.$error.required">Title is required.</p>
        </div>
        <div>
            <input type="file" file-model="file.blob" ng-model="file.fileName" accept="audio/mpeg, audio/x-mpeg, audio/mpeg3, audio/x-mpeg3" file-types=".mp3, .m4a">
            <p class="validation validation--alert" ng-show="((newSong.$submitted || newSong.$touched) && newSong.$error.fileType) || invalidFileType">Allowed extensions are: mpr and m4a </p>
        </div>
        <input type="hidden" ng-model="song.url">
        <input type="hidden" ng-model="song.pic">
        <hr>
        <div class="form__field">
            <button type="submit">Save</button>
            <button type="button" ng-click="cancel()">Cancel</button>
        </div>
        <div ng-show="error" class="validation validation--error">
            {{ error }}
        </div>
    </form>
</div>
