<div class="col-sml-12 col-med-6 col-lrg-4 col-xlrg-3">
    <div>
        <label for="albumCover" class="type--wide type--center type--color--negative label label--files"><i class="fa fa-camera"></i>
            <span ng-if="!album.id">Add Cover</span>
            <span ng-if="album.id">Change Cover</span>
        </label>
        <img src="./assets/img/img.png" ng-src="{{albumCover.links('stream-token').href}}?rnd={{album.rnd}}" width="250">
        <input id="albumCover" name="albumCover" type="file" file-model="file.blob" ng-model="file.filename" accept="image/png, image/jpeg, image/jpg" file-types=".png,.jpeg,.jpg">
        <p ng-show="(editAlbum.$submitted || editAlbum.$touched) && editAlbum.$error.fileType">Allowed extensions are: png, jpeg, jpg</p>
    </div>

    <div ng-show="error">
        {{ error }}
    </div>
</div>
