<div class="sm2-bar-ui full-width fixed" ng-class="{'playlist-open': playlistActive}">
    <sound-manager></sound-manager>
    <div class="bd sm2-main-controls">
        <div class="sm2-inline-element sm2-button-element visible__from--xsml">
            <div class="sm2-button-bd">
                <img ng-if="!currentPlaying.cover" class="sm2-inline-button" src="../assets/img/no-cover.svg" title="Play some funky music!"/>
                <img ng-if="currentPlaying.cover" class="sm2-inline-button" ng-src="{{currentPlaying.cover}}" />
            </div>
        </div>
        <div class="sm2-inline-element sm2-button-element">
            <div class="sm2-button-bd">
                <a href="#prev" title="Previous" prev-track class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
            </div>
        </div>
        <div class="sm2-inline-element sm2-button-element">
            <div class="sm2-button-bd">
                <a href="#play" class="sm2-inline-button" ng-class="{'sm2-icon-play':isPlaying === false, 'sm2-icon-pause sm2-control-on':isPlaying===true }" play-pause-toggle></a>
            </div>
        </div>
        <div class="sm2-inline-element sm2-button-element">
            <div class="sm2-button-bd">
                <a href="#next" title="Next" next-track class="sm2-inline-button sm2-icon-next">&gt; next</a>
            </div>
        </div>
        <div class="sm2-inline-element sm2-inline-status">
            <div class="sm2-playlist">
                <div class="sm2-playlist-target"><ul class="sm2-playlist-bd"><li><b>{{ currentPlaying.artist }}</b> - {{ currentPlaying.title }}</li></ul></div>
            </div>
            <div class="sm2-progress">
                <div class="sm2-row">
                    <div class="sm2-inline-time">{{ currentPostion }}</div>
                    <div class="sm2-progress-bd">
                        <div class="sm2-progress-track" seek-track>
                            <div class="sm2-progress-bar" ng-style="{width : ( progress + '%' ) }"></div>
                            <div class="sm2-progress-ball" ng-style="{left : ( progress + '%' ) }"><div class="icon-overlay"></div></div>
                        </div>
                    </div>
                    <div class="sm2-inline-duration">{{ currentDuration }}</div>
                </div>
            </div>
        </div>
        <div class="sm2-inline-element sm2-button-element">
            <div class="sm2-button-bd">
                <a href="#repeat" title="Repeat playlist" repeat-music class="sm2-inline-button sm2-icon-repeat" ng-class="{'sm2-control-on':repeat}"></a>
            </div>
        </div>
        <div class="sm2-inline-element sm2-button-element sm2-menu">
            <div class="sm2-button-bd">
                <a href="#playlist" ng-click="playlistToggle();" class="sm2-inline-button sm2-icon-menu" ng-class="{'sm2-control-on':playlistActive}">playlist</a>
            </div>
        </div>
    </div>
    <div class="bd sm2-playlist-drawer sm2-element" >
        <div class="sm2-inline-texture">
            <div class="sm2-box-shadow"></div>
        </div>
        <!-- playlist content is mirrored here -->
        <div class="sm2-playlist-wrapper">
            <ul class="sm2-playlist-bd">
                <!-- standard one-line items -->
                <li ng-repeat="song in playlist" ng-class="{ 'active' : currentPlaying.id == song.id }">
                    <a play-from-playlist="song">
                        <b>{{ song.artist }}</b> - {{ song.title }}
                        <!-- <a href="javascript:void(0)" remove-from-playlist="song" data-index="{{$index}}" class="push">×</a> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
